@font-face {
    font-family: 'CursorGothic';
    src: url('Assets/fonts/CursorGothic-main/fonts/CursorGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.feature-section {
    border-radius: 6px;
    width: 1300px;
    background-color: #1b1913;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1350px) {
    .feature-section {
        width: 100%;
        padding: 0 20px;
    }
}

.feature-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Text takes 1 part, image takes 2 parts */
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 20px 20px;
    gap: 40px;
    background-color: rgb(27, 25, 19);
    transition: background-color 0.2s ease;
}

.feature-container:hover {
    background-color: #1D1B15;
    cursor: pointer;
}

.feature-container.reverse {
    grid-template-columns: 2fr 1fr;
}

.feature-container.reverse .feature-text {
    order: 2;
}

.feature-container.reverse .feature-visual {
    order: 1;
}

.feature-text {
    display: flex;
    flex-direction: column;
}

.feature-text h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(237, 236, 236);
    letter-spacing: -0.11px;
    font-family: 'CursorGothic', sans-serif;
}

.feature-description {
    font-size: 22px;
    line-height: 1.3;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-weight: 400;
    font-family: 'CursorGothic', sans-serif;
    margin-bottom: 4px;
}

.feature-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #f54e00;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'CursorGothic', sans-serif;
    line-height: 1.5;
    letter-spacing: normal;
}

.feature-link:hover {
    cursor: pointer;
    color: #f54e00bf;
}

.feature-link span {
    font-size: 20px;
}


.feature-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.feature-visual img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Responsive adjustments */
@media (max-width: 968px) {
    .feature-container {
        flex-direction: column;
        gap: 40px;
    }

    .feature-text h2 {
        font-size: 36px;
    }
}