@font-face {
    font-family: 'CursorGothic';
    src: url('Assets/fonts/CursorGothic-main/fonts/CursorGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.hero {
    height: auto;
    width: 100%;
    max-width: 1300px;
    background-color: #14120b;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'CursorGothic', sans-serif;
    margin: 180px auto 0 auto;
    /* Height of navbar */
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.hero-content h1 {
    color: rgb(237, 236, 236);
    font-size: 26px;
    font-weight: 400;
    line-height: 1.25
}

.hero-content button {
    background-color: #fff;
    color: rgb(20, 18, 11);
    padding: 12px 16px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 400;
    transition: opacity 0.2s ease;
    line-height: 1;
}

.download-icon img {
    height: 16px;
    width: 16px;
}

.hero-image img {
    height: 100%;
    width: 100%;
}