@font-face {
    font-family: 'CursorGothic';
    src: url('Assets/fonts/CursorGothic-main/fonts/CursorGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.logo-section {
    width: 100%;
    /* Full width for black background */
    background-color: #14120b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center the inner content */
    padding: 40px 0px 80px 0px;
    gap: 20px;
}

.logo-section-content {
    width: auto;
}

.logo-section-content p {
    line-height: 1.5;
    color: rgb(237, 236, 236);
    font-size: 14px;
    font-family: 'CursorGothic', sans-serif;
    letter-spacing: 0.14;
    font-weight: 400;
    font-style: normal;
}

.logo-grid {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: nowrap;
    max-width: 1300px;
    overflow-x: auto;
    /* Adds horizontal scroll if screen is too narrow */
    padding-bottom: 4px;
    /* Space for scrollbar if it appears */
}

.logo-box {
    width: 152px;
    height: 100px;
    background-color: #1b1913;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.logo-box:hover {
    background-color: #1a1a1a;
}

.logo-box img {
    max-width: 60%;
    max-height: 45%;
    filter: brightness(0) invert(1);
    /* Ensure logos are white */
    opacity: 0.8;
}